*.xcuserdatad
*.xcworkspace
.DS_Store

Frameworks/*

# Cocoapod specific
*.lock
Pods/*

# fastlane specific
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/screenshots/screenshots.html
fastlane/test_output
*.app.dSYM.zip
*.ipa

# SwiftLint config
*.swiftlint.yml
